{% extends "base.html.twig" %}

{% set active = inscriptionLdap.slug %}

{% block page_title %}
    {{ inscriptionLdap.name }}
{% endblock %}

{% block body %}
<div class="row">
    <!--colleft-->
    <div class="col-md-1">

    </div>

    <div class="col-md-4">

        {# pass an array argument to get the messages of those types  #}
        {% for label, messages in app.flashes(['success','notice','info','warning', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <!--post-detail-->
        <div class="post-detail">
            <h1>Nom : {{ inscriptionLdap.name }}</h1>

            <p>Hostname : <input type="text" disabled value="{{ inscriptionLdap.hostname }}"/></p>
            <p>Port : <input type="text" disabled value="{{ inscriptionLdap.port }}"/></p>
            <p>BaseDN : <input type="text" disabled value="{{ inscriptionLdap.basedn }}"/></p>
            <p>BindDN : <input type="text" disabled value="{{ inscriptionLdap.binddn }}"/></p>
            <p>Privée : <input type="checkbox"{{ inscriptionLdap.privee ? ' checked' : '' }} disabled /></p>
            <p>Nombre de salles : <input type="text" disabled value="{{ inscriptionLdap.rooms.count}}"/></p>

        </div>
    </div>
</div>
{% endblock %}
