{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="form-view">
                <h2>Inscription de votre annuaire LDAP</h2>

                {{ form_start(form) }}
                <div class="form-group my-3">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_help(form.name) }}
                </div>
                <div class="form-group my-3">
                    {{ form_label(form.hostname) }}
                    {{ form_errors(form.hostname) }}
                    {{ form_widget(form.hostname) }}
                    {{ form_help(form.hostname) }}
                </div>
                <div class="form-group my-3">
                    {{ form_label(form.port) }}
                    {{ form_errors(form.port) }}
                    {{ form_widget(form.port) }}
                    {{ form_help(form.port) }}
                </div>
                <div class="form-group my-3">
                    {{ form_label(form.basedn) }}
                    {{ form_errors(form.basedn) }}
                    {{ form_widget(form.basedn) }}
                    {{ form_help(form.basedn) }}
                </div>
                <div class="form-group my-3">
                    {{ form_label(form.binddn) }}
                    {{ form_errors(form.binddn) }}
                    {{ form_widget(form.binddn) }}
                    {{ form_help(form.binddn) }}
                </div>
                <div class="form-group my-3">
                    {{ form_label(form.password) }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password) }}
                    {{ form_help(form.password) }}
                </div>
                <div class="form-group my-3">
                    {{ form_label(form.cheminRoom) }}
                    {{ form_errors(form.cheminRoom) }}
                    {{ form_widget(form.cheminRoom) }}
                    {{ form_help(form.cheminRoom) }}
                </div>
                <div class="form-group my-2">
                    <button class="btn btn-success default-color lighten-1">Test connexion</button>
                </div>

                <div class="form-group my-2">
                    <button class="btn btn-success default-color lighten-1">Valider</button>
                </div>

                <div class="form-group my-2">
                    <button class="btn btn-success default-color lighten-1">Annuler</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}