{% for room in rooms %}
    {{ dump(room) }}

    <div class="col-md-3">
        <div id="rooms_results_search">
            <!-- Card -->
            <div class="card" style="width: 22rem; height: 30rem;">
                <div class="front">
                    {% for image in room.images %}
                        <img src="{{ asset('image_room_directory/'~image.path) }}" alt="{{ room.name }}">
                    {% endfor %}
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- price -->
                    <span class="badge badge-primary pull-right">{{ room.type.title }}</span>

                    <!-- Title -->
                    <div>
                        <h4 class="card-title mt-1 mb-4 text-center"><a>{{ room.name }}</a></h4>
                    </div>

                    <!-- Text -->
                    <p class="card-subtitle">{{ room.priceLocation }} <i class="glyphicon-euro"></i> </p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary mt-3">Réserver</a>

                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
{% endfor %}