<nav class="navbar navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" href="#">Booking Room</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('booking.home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('booking.reservation.index') }}">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notre équipe</a>
            </li>
        </ul>
        <!--Dropdown primary-->
        <div class="dropdown">

            <!--Trigger-->
            <a href="{{ path('user.registration') }}" class="btn btn-danger" type="button">Inscription</a>

            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><ion-icon name="contact"></ion-icon>
            </button>


            <!--Menu-->
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" href="{{ path('booking.login') }}">Connexion</a>
                <a class="dropdown-item" href="{{ path('booking.logout') }}">Déconnexion</a>
            </div>
        </div>
        <!--/Dropdown primary-->
    </div>
</nav>

