{% extends 'template.html.twig' %}

{% block page_title %}
    Connexion
{% endblock %}


{% block content %}
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% for message in app.flashes("success") %}
                        {{ message }}
                    {% endfor %}
                    {% if error %}
                        <div class="alert alert-danger">
                            <ul class="list-unstyled mb-0">
                                <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="form-view">
                        <h2>Connectez vous</h2>
                        {{ form_start(form) }}
                            {{ form(form) }}
                            <a href="#" class="nav-link form__forgotten-pw">Mot de passe oublié ?</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
